<!-- Modal1 -->
<!-- <div class="modal fade" id="myModal4" tabindex="-1" role="dialog"> -->
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content dest">
    <!-- <div class="modal-header"> -->
    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
    <!-- </div> -->
    <div class="modal-body modal-body-sub_agile">
      <div class="col-md-8 modal_body_left modal_body_left1">
        <h3 class="agileinfo_sign">CHANGE PASSWORD <span>Now</span></h3>
        <form action="#" method="post" #chngform="ngForm">
          <div class="styled-input">
            <input
              type="password"
              name="curpass"
              [(ngModel)]="curpass"
              required=""
              #crpass="ngModel"
            />
            <div
              *ngIf="crpass.invalid && (crpass.dirty || crpass.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="crpass.errors.required">Password is required.</div>
            </div>
            <label>Current Password</label>
            <span></span>
          </div>

          <div class="styled-input">
            <input
              type="password"
              name="newpass"
              [(ngModel)]="newpass"
              required=""
              #npass="ngModel"
            />
            <div
              *ngIf="npass.invalid && (npass.dirty || npass.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="npass.errors.required">Password is required.</div>
            </div>
            <label> New Password</label>
            <span></span>
          </div>
          <div class="styled-input">
            <input
              type="password"
              name="Conpass"
              [(ngModel)]="conpass"
              required=""
              #cpass="ngModel"
            />
            <div
              *ngIf="cpass.invalid && (cpass.dirty || cpass.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="cpass.errors.required">Password is required.</div>
            </div>
            <label>Confirm Password</label>
            <span></span>
          </div>

          <div>
            <input
              type="submit"
              value="UPDATE PASSWORD"
              (click)="updatepass()"
              [disabled]="!chngform.valid"
            />
          </div>
          <ul
            class="
              social-nav
              model-3d-0
              footer-social
              w3_agile_social
              top_agile_third
            "
          >
            <li>
              <a href="#" class="facebook">
                <div class="front">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="back">
                  <i class="fa fa-facebook" aria-hidden="true"></i></div
              ></a>
            </li>
            <li>
              <a href="#" class="twitter">
                <div class="front">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div class="back">
                  <i class="fa fa-twitter" aria-hidden="true"></i></div
              ></a>
            </li>
            <li>
              <a href="#" class="instagram">
                <div class="front">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
                <div class="back">
                  <i class="fa fa-instagram" aria-hidden="true"></i></div
              ></a>
            </li>
            <li>
              <a href="#" class="pinterest">
                <div class="front">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
                <div class="back">
                  <i class="fa fa-linkedin" aria-hidden="true"></i></div
              ></a>
            </li>
          </ul>
        </form>
      </div>
      <div class="col-md-4 modal_body_right modal_body_right1">
        <img src="images/log_pic.jpg" class="size" alt=" " />
      </div>
      <div class="clearfix">
        <p>{{ msg }}</p>
      </div>
    </div>
  </div>
  <!-- //Modal content-->
</div>
<!-- </div> -->
<!-- //Modal1 -->
