
<div class="modal-dialog mw "> 
    <!-- Modal content-->
    <div class="modal-content members">
        <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> -->
            <div class="modal-body modal-body-sub_agile ">
              <h3 class="agileinfo_sign">Account Acctivated..!!</h3>
            <div class="col-md-8 modal_body_left modal_body_left1 pl-5">
           
           <!-- <h5 class="text-center">Your Shopping Cart is Empty</h5> -->
           <img src="../assets/dd.jpg " class="ss">
           <h6 class="text-center"></h6>
            <button type="button" class="btn greenbg ml-5"><a routerLink="/signin" class="black">Start Shopping</a></button>&nbsp;
            <!-- <button type="button" class="btn greenbg "><a routerLink="/home" class="black">Home</a></button> -->
              
                                            <div class="clearfix"></div>
                                           
                                            
  
            </div>
            <!-- <div class="col-md-4 modal_body_right modal_body_right1">
                <img src="images/log_pic.jpg" alt=" "/>
            </div> -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //Modal content-->
  
  </div>