<!-- Modal1 -->
<!-- <div class="modal fade" id="myModal4" tabindex="-1" role="dialog"> -->
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content dest">
            <!-- <div class="modal-header"> -->
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <!-- </div> -->
                <div class="modal-body modal-body-sub_agile">
                <div class="col-md-8 modal_body_left modal_body_left1">
                <h3 class="agileinfo_sign">RESET PASSWORD <span></span></h3>
                            <form action="#" method="post" #resform="ngForm">
                   
                    <div class="styled-input">
                        <input type="password" name="newpass" required="" [(ngModel)]="newpass" required
                        pattern="^((\\+91-?)|0)?[0-9]{10}$"
                        #phn="ngModel" >  <div
                        *ngIf="phn.invalid && (phn.dirty || phn.touched)"
                        class="alert alert-danger"
                      >
                        <div *ngIf="phn.errors.required">Mobile Number is required.</div>
                        <div *ngIf="phn.errors.pattern">
                          Please, Enter 10 digit Mobile Number.
                        </div>
                      </div>
                        <label> New Password</label>
                        <span></span>
                    </div> 
                    <div class="styled-input">
                        <input type="password" name="Conpass"  required="" [(ngModel)]="conpass"> 
                        <label>Confirm Password</label>
                        <span></span>
                    </div>
                   
                    <div> 
                    <input type="submit" value="UPDATE PASSWORD" (click)="update()" >
                    </div>
                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                        <li><a href="#" class="facebook">
                              <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
                        <li><a href="#" class="twitter"> 
                              <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
                        <li><a href="#" class="instagram">
                              <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
                        <li><a href="#" class="pinterest">
                              <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
                    </ul>
                    
                </form>
                
                </div>
                <div class="col-md-4 modal_body_right modal_body_right1">
                    <img src="images/log_pic.jpg" class="size" alt=" "/>
                </div>
                {{msg}}
                <div class="clearfix">  <p></p></div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
<!-- </div> -->
<!-- //Modal1 -->
