<!-- <div class="modal-dialog mw">  -->
<!-- Modal content-->
<!-- <div class="modal-content members bb lo oh"> -->
<!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> -->
<!-- <div class="modal-body modal-body-sub_agile ">
            <div class="col-md-8 modal_body_left modal_body_left1 "> -->
<div
  style="
    width: 100% !important;
    background: white !important;
    padding: 10px !important;
    display: grid !important;
    justify-content: center !important;
  "
>
  <div class="modal-content p-4 am">
    <h3 class="agileinfo_sign">LIST OR ORDERS</h3>
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th scope="col">SNo.</th>
          <th scope="col">ID</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">MODE</th>
          <th scope="col">DATE</th>
          <th scope="col">STATUS</th>
          <th scope="col">UPDATE STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of orderlist; index as i">
          <td>{{ i + 1 }}</td>
          <td>
            <a routerLink="/orderdetails" [queryParams]="{ oid: x._id }">{{
              x._id
            }}</a>
          </td>
          <td>{{ x.billamt }}</td>
          <td>{{ x.pmode }}</td>
          <td>{{ x.orderdt }}</td>
          <td>{{ x.status }}</td>
          <td>
            <a routerLink="/updatestatus" [queryParams]="{ oid: x._id }"
              >Update</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    {{ msg }}
    <!-- <p>{{msg}}</p> -->
    <!-- <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                                                <li><a href="#" class="facebook">
                                                      <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                                      <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
                                                <li><a href="#" class="twitter"> 
                                                      <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                                      <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
                                                <li><a href="#" class="instagram">
                                                      <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                                      <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
                                                <li><a href="#" class="pinterest">
                                                      <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                                      <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
                                            </ul> -->
    <div class="clearfix"></div>
  </div>
  <!-- <div class="col-md-4 modal_body_right modal_body_right1">
                <img src="images/log_pic.jpg" alt=" "/>
            </div> -->
  <div class="clearfix"></div>
</div>
<!-- </div> -->
<!-- //Modal content-->
<!-- </div> -->
<!-- </div> -->
<!-- //Modal1 -->
