<div class="new_arrivals_agile_w3ls_info">
  <div class="container">
    <h3 class="wthree_text_info white">ALL<span> PRODUCTS</span></h3>
    <!--/tab_one-->
    <div class="tab1" *ngFor="let x of productlist">
      <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem whitebg">
          <div class="men-thumb-item">
            <img
              src="uploads/{{ x.Productpic }}"
              alt=""
              class="pro-image-front img-size1"
            />
            <img
              src="uploads/{{ x.Productpic }}"
              alt=""
              class="pro-image-back img-size1"
            />
            <div class="men-cart-pro">
              <div class="inner-men-cart-pro">
                <a
                  routerLink="/showproddetails"
                  [queryParams]="{ pid: x._id }"
                  class="link-product-add-cart"
                  >Quick View</a
                >
              </div>
            </div>
            <!-- <span class="product-new-top">New</span> -->
          </div>
          <div class="item-info-product">
            <h4>{{ x.prodname }}</h4>
            <!-- <div class="info-product-price">
											<p ><span class="item_price "></span>{{reamt|currency:"INR"}} <del>{{rt|currency:"INR"}}</del></p>
										</div> -->
            <a routerLink="/showproddetails" [queryParams]="{ pid: x._id }">
              <div
                class="
                  snipcart-details
                  top_brand_home_details
                  item_add
                  single-item
                  hvr-outline-out
                  button2
                "
              >
                <!-- <form action="#" method="post">
																<fieldset> -->

                <!-- <input type="submit" name="submit" value="SHOW DETAILS" class="button" /> -->
                <p class="para">SHOW PRODUCT</p>

                <!-- </fieldset>
															</form> -->
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
